{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block content %}    
    
    {% include '_includes/header_divider.html' with header=doctor.user.get_full_name %}
    
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

        <section class="elements-section">
            <div class="container">

               <!--  <div class="margin-bottom-30">
                    <h2 class="light upper center spacing-5">
                        <img src="{{doctor.image_url}}" alt="" style="height: 75px;"/>
                    </h2>
                </div> -->

                <div role="tabpanel">

                    <div class="awe-nav-responsive">
                        <ul class="awe-nav" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#appt-requests" title="" aria-controls="appt-requests" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-calendar">&nbsp;</i> Appointment Requests
                                </a>
                            </li>

                            <li role="presentation" class="">
                                <a href="#settings" title="" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-gear">&nbsp;</i>Settings
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row no-margin">
                        <div class="col-md-12">

                            <div class="tab-content padding-top-25">

                                <div role="tabpanel" class="tab-pane fade active in" id="appt-requests">

                                    {% if not user.doctor_profile.is_verified %}
                                      <div class="col-md-10 col-md-push-1">
                                        <h3 class="center">
                                            Welcome! Let's get you verified!<br><br>
                                            <small>
                                              Before we get you on our platform, we have to verify your credentials so we ensure the highest quality of service to our users and fellow physicians.<br> Someone from our team will reach out to you in the next 24 hours. <br><br>
                                              If you don't hear from us, please contact us at 
                                              <a href="mailto:{{SETTINGS.DOCTOR_SUPPORT_EMAIL}}?Subject=Doctor Verification Support - {{user.username}}">
                                                {{SETTINGS.DOCTOR_SUPPORT_EMAIL}}
                                              </a>
                                            </small>
                                        </h3>
                                      </div>

                                    {% elif appt_requests %}
                                      <div class="">
                                         <table class="table table-cart" id="appt-requests-table">
                                             <thead>
                                                  <tr>
                                                     <th width="20%">User</th>
                                                     <th width="15%">Procedure</th>
                                                     <th width="20%">Comments</th>
                                                     <th width="10%">Status</th>
                                                     <th width="20%">Action</th>
                                                     <th width="10%">Requested</th>
                                                  </tr>
                                             </thead>
                                             <tbody>
                                                 {% for req in appt_requests %}
                                                 <tr id="req.id">
                                                      <th width="20%">
                                                        {{req.user.user.username}}

                                                        <!-- Only show user's contact information
                                                             if user's request isn't CANCELLED (status=2)
                                                         -->
                                                        {% if req.status != 2 %}
                                                        <a href="mailto:{{req.user.email}}?Subject=Request from {{SETTINGS.COMPANY_NAME}}" class="alignright margin-right-30">
                                                          <i class="fa fa-envelope"></i>
                                                        </a>
                                                        {% endif %}
                                                      </th>
                                                      <th width="15%">{{req.service.procedure.name}}</th>
                                                      <th width="20%">{{req.comments}}</th>
                                                      <th width="10%">
                                                        {% include '_includes/request_status_display.html' %}
                                                      </th>
                                                      <th width="20%">
                                                        {% include '_includes/request_status_action.html' %}
                                                      </th>
                                                      <th width="10%">{{req.date_requested|date:"M d, Y"}}</th>
                                                 </tr>
                                                 {% endfor %}
                                             </tbody>
                                         </table>
                                      </div>
                                    {% else %}
                                      <div class="col-md-10 col-md-push-1">
                                        <h3 class="center">
                                            Welcome! <br><br>We are thrilled to have you join the movement of making US healthcare better...<br><br>
                                            <small>
                                              You don't have any appointment requests yet, but we will reach out to you as soon as you do! <br><br>
                                              In the meantime, feel free to update your <b><i class="fa fa-gear">&nbsp;</i>SETTINGS</b> to help us find you the right patients.<br>
                                              And as always, if you have any questions, feel free to contact us at <a href="mailto:{{SETTINGS.DOCTOR_SUPPORT_EMAIL}}?Subject=Doctor Verification Support - {{user.username}}">
                                                {{SETTINGS.DOCTOR_SUPPORT_EMAIL}}
                                              </a>
                                            </small>
                                        </h3>
                                      </div>
                                    {% endif %}
                                </div>
                                

                                <div role="tabpanel" class="tab-pane fade" id="settings">
                                    <div class="text-muted">
                                        <div class="row margin-5">
                                            <h4> Basic Information <h4>
                                            {% crispy user_form user_form.helper %}

                                            <h4> Professional Information <h4>
                                            {% crispy doctor_profile_form doctor_profile_form.helper %}

                                            <h4> Clinic Information <h4>
                                            {% crispy clinic_form clinic_form.helper %}
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg pull-right">Save Changes</button>
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </form>
{% endblock content %}

{% block js %}
  {% include "_includes/data_tables.html" with tableID='appt-requests-table' %}
{% endblock js %}