{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block content %}   
    {% include '_includes/header_divider.html' with header=user.user.username %} 
    
    <form method="POST">
    {% csrf_token %}

        <section class="elements-section">
            <div class="container">

                <!-- <div class="margin-bottom-30">
                    <h2 class="light upper center spacing-5">
                        <img src="{% static 'img/user_profile.jpeg' %}" alt="" style="height: 75px;"/>
                    </h2>
                </div> -->

                <div role="tabpanel">

                    <div class="awe-nav-responsive">
                        <ul class="awe-nav" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#appt-requests" title="" aria-controls="appt-requests" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-calendar">&nbsp;</i> Appointment Requests
                                </a>
                            </li>

                            <li role="presentation" class="">
                                <a href="#reviews" title="" aria-controls="reviews" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-comments-o">&nbsp;</i> Reviews
                                </a>
                            </li>

                            <li role="presentation" class="">
                                <a href="#settings" title="" aria-controls="settings" role="tab" data-toggle="tab" aria-expanded="false">
                                    <i class="fa fa-gear">&nbsp;</i>Settings
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="tab-content padding-top-25">

                                <div role="tabpanel" class="tab-pane fade active in" id="appt-requests">
                                    <div class="">
                                       <table class="table table-cart" id="appt-requests-table">
                                           <thead>
                                                <tr>
                                                   <th width="15%">Doctor</th>
                                                   <th width="15%">Procedure</th>
                                                   <th width="20%">Comments</th>
                                                   <th width="10%">Price</th>
                                                   <th width="10%">Status</th>
                                                   <th width="10%">Date</th>
                                                   <th width="15%">Action</th>
                                                </tr>
                                           </thead>
                                           <tbody>
                                               {% for req in appt_requests %}
                                               <tr id="req.id">
                                                   <td width="15%">
                                                        <a href="{% url 'view_doctor' req.doctor.get_full_name|slugify req.doctor.pk %}">
                                                            {{req.doctor.get_full_name}}
                                                        </a>
                                                    </td>
                                                   <td width="15%">{{req.service.procedure.name}}</td>
                                                   <td width="20%">{{req.comments}}</td>
                                                   <td width="10%">${{req.service.avg_price}}</td>
                                                   <td width="10%">{{req.get_status_display}}</td>
                                                   <td width="10%">{{req.date_requested|date:"M d, Y"}}</td>
                                                   <td width="15%">{% include '_includes/appt_status_display.html' %}</td>
                                               </tr>
                                               {% endfor %}
                                           </tbody>
                                       </table>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="reviews">
                                    <div class="text-muted">
                                        <div class="customers-say-wrapper">
                                            
                                            {% for review in reviews %}
                                            <div class="col-md-4 col-sm-6 item">
                                                <div class="customer-block">
                                                    <div class="customer-name">
                                                        <h3>{{review.title}}</h3>
                                                    </div>

                                                    <blockquote>
                                                        <p>{{review.comments}}</p>
                                                    </blockquote>

                                                    <div class="customers-say-customer">

                                                        <div class="customer-name">
                                                            <h3>
                                                                <a href="{% url 'view_doctor' review.doctor.get_full_name|slugify review.doctor.pk %}">
                                                                {{review.doctor.get_full_name}}
                                                            </h3>
                                                        </div>

                                                        <div class="customer-address">
                                                            {% include '_includes/stars.html' with score=review.overall_score %}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                                

                                <div role="tabpanel" class="tab-pane fade" id="settings">
                                    <div class="text-muted">
                                        <div class="row margin-5">
                                            {% crispy user_form user_form.helper %}   
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-lg pull-right">Save Changes</button>
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </form>
{% endblock content %}

{% block js %}
  {% include "_includes/data_tables.html" with tableID='appt-requests-table' %}
{% endblock js %}