{% load static %}
<section>
    <div class="container">

        <div class="padding-vertical-50 border-bottom">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="awe-box center">
                        <div class="awe-box-content">
                            <h2 style="text-transform: lowercase;">Do you buy a house <br>and ask for the price <em>later</em>?</h2>
                            <h2 class="text orange">Why is that the case <br>with healthcare?</h2>
                            <p>We're here to change that around. Get access to prices across doctors, clinics and procedures wherever you are and start saving today!</p>
                            <p>Pick a procedure. Tell us your location. Get access to a list of clinics in and around you. And book that appointment today!</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>
            </div>
        </div><!-- /.padding-vertical-50 -->

        <div class="padding-vertical-50 border-bottom">
            <div class="row">
                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-help"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>Complete Transparency</h3>
                            <p>Never again feel like you don't know how much that root canal or that MRI will cost. Feel in control with <b>complete pricing transparency</b>.</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-dolar-circle"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>COMPETITIVE PRICING</h3>
                            <p>We are putting the power in the hands of the patients and the doctors to ensure the system is working for both. By cutting out middlemen, we ensure the best possible cash pricing for patients and for doctors.</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="awe-box center box-hover margin-bottom-25">
                        <div class="awe-box-media">
                            <div class="awe-box-icon icon-large">
                                <i class="icon icon-like"></i>
                            </div>
                        </div><!-- /.awe-box-media -->

                        <div class="awe-box-content">
                            <h3>High Quality</h3>
                            <p>Transparent pricing doesn't mean lower quality. Instead, we ensure the highest quality of physicians on our platform, showing their <b>specialities, training and accreditations</b>.</p>
                        </div><!-- /.awe-box-content -->
                    </div><!-- /.awe-box -->

                </div>
            </div><!-- /.row -->
        </div><!-- /.padding-vertical-50 -->

        <div class="padding-vertical-50">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <blockquote class="blockquote large center">
                        <p>Sunlight is the best disinfectant.</p>
                        <footer>
                            <h4>William O. Douglas</h4>
                            <!-- <span>CEO</span> -->
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div><!-- /.padding-vertical-80 -->

    </div><!-- /.container -->
</section>