 <div class="padding-vertical-30 border-bottom">
	            
    <div class="row margin-top-50 margin-left-20 center">
    	<h2> how does DIRECT PAY work?</h2>
    	<h4 class="text-muted"> What type of insurance do you have? </h4>
    </div>

    <div class="row margin-top-30">
    	<div class="col-lg-3 col-md-6 col-sm-12">
            {% include '_includes/about_widget.html' with icon='fa fa-shield' title='TRADITIONAL <br> INSURANCE' text="<b>TRADITIONALLY</b><br>Insurers negotiate discounted rates with doctors in their network. Doctors charge different amounts to different insurers for the same procedures, but these rates are not publicly available. <br><br><b>WITH DIRECT PAY</b><br> Health insurance would resemble auto insurance more - insurance estimates the cost of a procedure and sends a check to the patient who compares prices and chooses a doctor." %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {% include '_includes/about_widget.html' with icon='fa fa-building-o' title='SELF-FUNDED <br>EMPLOYER' text="<b>TRADITIONALLY </b><br>Employers generally hire a Preferred Provider Organization (PPO) which negotiates discounted rates with doctors on the employer's behalf. Exmployers pay out of their operating budgets.<br><br><b>WITH DIRECT PAY</b><br>Employers would partner with doctors on the basis of their publicly available prices and then pay them directly. Employers would still pay medical bills out of their operating budgets." %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {% include '_includes/about_widget.html' with icon='fa fa-flag' title='MEDICARE / <br> MEDICAID' text="<b>TRADITIONALLY</b><br>The government determines how much to reimburse doctors for all procedures. Rates are often modest, leading some doctors to refuse to accept such coverage. <br><br><b>WITH DIRECT PAY</b><br> If most doctors posted their prices, the government may set reimbursement rates based on the average regional price of the procedure, rather than from the American Medical Association." %}
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            {% include '_includes/about_widget.html' with icon='fa fa-money' title='OUT OF <br> POCKET' text="<b>TRADITIONALLY </b><br>Patients pay doctors for the procedures directly. In the past, uninsured patients' bills would be based on the artifically inflated prices doctors used to begin negotiations with insurers. <br><br><b>WITH DIRECT PAY</b><br> Patients still pay doctors directly but since price lists are public, regional providers can complete on price, quality and reputation." %}
        </div>

    </div>

</div>