{% if messages %}
<div class="col-md-3 pull-right margin-top-10">
	<div id="messageNotification">

	  	{% for message in messages %}
	  	<small>

	  		<!-- MESSAGES framework --> 
			{% if 'success' in message.tags %}
				<div class="alert alert-success alert-dismissible">
				    <div>
					    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					    <i class="icon fa fa-check">&nbsp;</i>{{ message }}
					</div> 
			  	</div>				
							
			{% elif 'error' in message.tags %}
			  <div class="alert alert-warning alert-dismissible">
			    <div>
				    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				    <i class="icon fa fa-warning">&nbsp;</i> {{ message }}
			    </div>
			  </div>

			<!-- FORM framework error messages  --> 
			{% else %}
			  <div class="alert alert-warning alert-dismissible">
			    <div>
				    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				    <i class="icon fa fa-warning">&nbsp;</i> {{ message|striptags }}
			    </div>
			  </div>

			{% endif %}
			</small>
		{% endfor %}
   </div>
</div>
{% endif %}
