{% extends '_layouts/base_portal.html' %}
{% load static pricing_filters %}

{% block title %}Doctors by Procedure{% endblock title %}


{% block content %}
<section>
    {% include '_includes/header_divider.html' with header=procedure.name image=True %}

	<div class="container margin-top-30">
	    <div class="row">
	        
	        <!-- LIST OF DOCTORS -->
	        <!-- <div class="col-sm-12 col-md-12 col-lg-12"> -->
	        <div class="col-md-9 col-md-push-3">
	            <div class="products products-grid-wrapper">
	                <div class="row">
	                    
	                    {% for doctor in doctors %}
	                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
	                            {% include '_includes/doctor_info_basic.html' with procedure_specific=True %}
	                        </div>
	                    {% endfor %}

	                </div>
	            </div>
	        </div>

	      	<!-- FILTER CRITERIA -->
	        <div class="col-md-3 col-md-pull-9">
	            <div id="shop-widgets-filters" class="shop-widgets-filters">

	                <div id="widget-area" class="widget-area">
	                    
	                    <!-- PRICES FILTER -->
	                    <div class="widget woocommerce widget_product_categories">
	                        <h3 class="widget-title">Prices</h3>

	                        <ul>
	                        	<!-- All prices -->
                        		<li {% if 'max_price=-1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request max_price=-1 %}">
                                        All
                                    </a>
                                </li>
                                <!-- Quartile/Percentile prices -->
                            	{% for percentile in percentile_list %}
	                                {% with procedure|get_nth_percentile_price:percentile as max_price %}
	                                    <li {% if max_price|stringformat:"i" in request.GET.urlencode %} 
	                                    		class="active" 
	                                    	{% endif %}>
	                                        <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request max_price=max_price %}">
	                                            Less than {{max_price|currency}} (Lowest {{percentile}}%)
	                                        </a>
	                                    </li>
	                                {% endwith %}
	                            {% endfor %}                                                      
	                        </ul>
	                    </div> <!-- /.prices filter -->

	                    <!-- REVIEWS FILTER -->
	                    <div class="widget woocommerce widget_product_categories">
	                        <h3 class="widget-title">Reviews</h3>

	                        <ul>	                            
                                <li {% if 'review_score=-1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request review_score=-1 %}">All</a>
                                    </a>
                                </li>  
                                <li {% if 'review_score=5' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request review_score=5 %}">5 Stars</a>
                                    </a>
                                </li>  
                                <li {% if 'review_score=4' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request review_score=4 %}">4 Stars</a>
                                    </a>
                                </li>  
                                <li {% if 'review_score=3' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request review_score=3 %}">3 Stars</a>
                                    </a>
                                </li>  

	                        </ul>
	                    </div> <!-- /.gender filter -->

	                    <!-- GENDER FILTER -->
	                    <div class="widget woocommerce widget_product_categories">
	                        <h3 class="widget-title">Gender</h3>

	                        <ul>	                            
                                <li {% if 'gender=-1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request gender=-1 %}">Any</a>
                                    </a>
                                </li>                                
                                <li {% if 'gender=1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request gender=1 %}">Male</a>
                                    </a>
                                </li> 
                                <li {% if 'gender=2' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request gender=2 %}">Female</a>
                                    </a>
                                </li>                                                                                     
	                        </ul>
	                    </div> <!-- /.gender filter -->	 


	                    <!-- CITY FILTER -->
	                    <div class="widget woocommerce widget_product_categories">
	                        <h3 class="widget-title">Cities</h3>

	                        <ul>	                            
                                <li {% if 'city=-1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request city=-1 zipcode=-1 %}">All</a>
                                    </a>
                                </li>                                
                                <!-- Zipcodes -->
                            	{% for city in cities %}
	                                <li {% if 'city='|add:city.slug in request.GET.urlencode %} 
	                                		class="active" 
	                                	{% endif %}>
	                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request city=city.slug zipcode=-1 %}">
	                                        {{city.name}}
	                                    </a>
	                                </li>
	                            {% endfor %}                                                                                   
	                        </ul>
	                    </div> <!-- /.city filter -->


	                 	<!-- ZIPCODE FILTER -->
	                    <!-- Only if city is selected -->
	                    {% if zipcodes %}
	                    <div class="widget woocommerce widget_product_categories">
	                        <h3 class="widget-title">Zipcodes</h3>

	                        <ul>	                            
                                <li {% if 'zipcode=-1' in request.GET.urlencode %} class="active" {% endif %}>
                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request zipcode=-1 %}">All</a>
                                    </a>
                                </li>                                
                                <!-- Zipcodes -->
                            	{% for zipcode in zipcodes %}
	                                <li {% if 'zipcode='|add:zipcode.slug in request.GET.urlencode %} 
	                                		class="active" 
	                                	{% endif %}>
	                                    <a href="{% url 'view_doctors_by_procedure' procedure.name|slugify procedure.pk %}?{% url_replace request zipcode=zipcode.slug %}">
	                                        {{zipcode.name}}
	                                    </a>
	                                </li>
	                            {% endfor %}                                                                                   
	                        </ul>
	                    </div> <!-- /.zipcode filter -->
	                    {% endif %}

	                </div>
	            </div>
	        </div>

	    </div>
	</div>
</section>
{% endblock content %}