{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}Update Password {% endblock title %}


{% block content %}
	<section class="content">
  		<div class="row">
      	<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box-body box-profile">
					<div class="box-header"></div>
					<div class="col-xs-12">
						<form method="POST" >
							{% csrf_token %}
						  	<table class="table">
								<tbody>
								    {% crispy form %}
							    </tbody>
							</table>
						    <button type="submit" class="btn basic-teal pull-right">Change Password</button>
						</form>
					</div>
				</div>
			</div>
    	</div>
	  </div>
	</section>
{% endblock content %}