{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}Password Reset Confirm{% endblock title %}

{% block content %}
<section>
  <div class="container">

      <div class="margin-bottom-50">
          <h2 class="light upper center spacing-5">Password Reset Done</h2>
          <h5 class="light center">
            Returning User?
            <a  class="alert" href="{% url 'login' %}">
              <span class="doc-list-icon"><i class="fa fa-sign-in"> </i></span> LOG IN NOW
            </a>      
          </h5>  
      </div>

      <div class="row">
          <p>We have received your password re-set request.
   			An email with instructions to re-set your password has been sent to you at your registered email address.</p>
      </div>              

  </div>
</section>
{% endblock content %}