{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}

<section>
    <div class="container">

        <div class="margin-bottom-50">
            <h2 class="light upper center spacing-5">Register Now</h2><br><br>
            <h5 class="light center">
              Already have an account?
              <a  class="alert" href="{% url 'login' %}">
                <button class="btn btn-primary btn-outline">
                  <span class="doc-list-icon"> 
                    <i class="fa fa-sign-in"> </i>
                  </span> LOG IN NOW
                </button>
              </a>      
            </h5>  
        </div>

        <div class="row">
            <form method="POST" class="uniForm">
            {% csrf_token %}

                <div class="col-sm-1 col-md-2 col-lg-2"></div>
                
                <div class="col-sm-10 col-md-8 col-lg-8">
                
                    <div class="form-group">
                      
                      {% crispy user_form user_form.helper %}
                      
                      <!-- For Doctor Registration -->
                      {% if doctor_form %}
                        {% crispy doctor_form doctor_form.helper %}
                      {% endif %}

                      <div class="margin-20">
                        <button type="submit" name="register" class="btn btn-primary btn-lg pull-right">Register</button>

                        <small>
                          By registering, you agree to the <a href="{% url 'terms' %}">Terms of service</a>
                        </small>
                      </div>

                    </div>                      
                </div>

                <div class="col-sm-1 col-md-2 col-lg-2"></div>
            </form>
        </div>              

    </div>
</section>

{% endblock content %}
