{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{SETTINGS.COMPANY_NAME}}{% endblock title %}

{% block content %}

<section>
    <div class="main-slider-wrapper">
        <div class="main-slider owl-carousel owl-carousel-inset"> 
            <div class="main-slider-item">
                <div class="main-slider-image">
                    <img src="{% static 'img/backgrounds/home_slider.jpg' %}" alt="">
                </div>

                <div class="main-slider-text">
                    <div class="fp-table">
                        <div class="fp-table-cell center">
                            <div class="container">
                                <h3 class="text white">Don't know what your treatment will cost?</h3><br>
                                <h2 class="text white">Find out Now</h2>

                                <!-- SEARCH -->
                                <form method="POST">
                                    {% csrf_token %}
                                    {% crispy search_form search_form.helper %}
                                </form>
                                <!-- /.search -->                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {  aweMainSlider(); });
    </script>

    </section><!-- /section -->

    
  

    {% include '_includes/about.html' %}

    <section class="background background-color-dark background-image-section-customers-say">
        <div class="container">
            <div class="padding-top-60">
                <div class="section-header center">
                    <h2>Customers Say</h2>
                </div><!-- /.section-header -->

                <div class="section-customers">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="customers-carousel owl-carousel" id="customers-carousel" data-toggle="carousel" data-dots="true" data-nav="0">
                                <!-- {#{% for testimonial in testimonials %}
                                    {% include '_includes/testimonial.html' %}
                                {% endfor %} #}-->

                            </div><!-- /.customers-say-carousel -->
                        </div>
                    </div>
                </div><!-- /.section-content -->
            </div>
        </div><!-- /.container -->

    </section><!-- /section -->

    <div class="container">
        <div class="divider"></div>
    </div>

    <!-- <section>
        <div class="container">
            <div class="margin-bottom-50">
                <div class="subscible-wrapper subscible-inline">
                    
                    <div class="row">
                        <div class="col-md-2">
                            <h3 class="subscribe-title">Subscribe newsletter</h3>
                        </div>

                        <div class="col-md-4">
                            <div class="subscribe-comment">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <form method="GET" class="subscible-form">
                                <div class="form-group">
                                    <label class="sr-only" for="subscribe-email">Email</label>
                                    <input type="email" placeholder="Enter your email address" class="form-control" id="subscribe-email">
                                </div>

                                <div class="form-submit">
                                    <button class="btn btn-lg btn-primary" type="submit">Subscribe email</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section> -->


{% endblock content %}
