{% extends '_layouts/base_portal.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{SETTINGS.COMPANY_NAME}}{% endblock title %}

{% block content %}

<section>    
    <div class="main-slider-wrapper">
        <div class="main-slider owl-carousel owl-carousel-inset"> 
            <div class="main-slider-item">
                <div class="main-slider-image">
                    <img src="{% static 'img/backgrounds/home_slider.jpg' %}" alt="">
                </div>

                <div class="main-slider-text">
                    <div class="fp-table">
                        <div class="fp-table-cell center">
                            <div class="container">
                                <h3 class="text white">Don't know what your treatment will cost?</h3><br>
                                <h2 class="text white">Find out Now</h2>
                                <div class="row">
                                    <form method="POST">
                                    {% csrf_token %}
                                        {% crispy search_form search_form.helper %}
                                        <!-- Search button in crispy_form layout --> 
                                    </form>
                                </div><br>
                                <div class="row">
                                    <a href="{% url 'share_price' %}" class="btn btn-xlg btn-primary btn-outline">Or share your prices now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {  aweMainSlider(); });
    </script>

</section><!-- /section -->

    
  

{% include '_includes/about.html' %}

<section class="background background-color-dark background-image-section-customers-say">
    <div class="container">
        <div class="padding-top-60">
            <div class="section-header center">
                <h2>Customers Say</h2>
            </div><!-- /.section-header -->

            <div class="section-customers">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="customers-carousel owl-carousel" id="customers-carousel" data-toggle="carousel" data-dots="true" data-nav="0">
                            {% for testimonial in testimonials %}
                                {% include '_includes/testimonial.html' %}
                            {% endfor %}
                            <div class="owl-nav disabled">
                                <div class="owl-prev">prev</div>
                                <div class="owl-next">next</div>
                            </div>
                        </div><!-- /.customers-say-carousel -->
                    </div>
                </div>
            </div><!-- /.section-content -->
        </div>
    </div><!-- /.container -->

</section><!-- /section -->

<div class="container">
    <div class="divider"></div>
</div>

<section>
    <div class="container">
        <div class="margin-bottom-50">
            <div class="subscible-wrapper subscible-inline">
                
                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-md-2">
                            <h3 class="subscribe-title">Subscribe</h3>
                        </div>

                        <div class="col-md-4">
                            <div class="subscribe-comment">
                                <p>Want discounts, tips on staying healthy and deals with gyms? Subscribe now!</p>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            {% crispy newsletter_form newsletter_form.helper %}
                        </div>

                        <div class="col-md-2 pull-right margin-top-20">
                            <button type="submit" name="newsletter" class="submit btn btn-lg btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock content %}
