{% extends '_layouts/base_portal.html' %}
{% load static %}

{% block title %}Directory{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock css %}

{% block content %}    
	
	{% include '_includes/header_divider.html' with header='Doctor Directory' %}

    <section class="elements-section">
        <div class="container">      	

            <div class="row">
                <div class="col-md-12">

                   <table class="table table-cart" id="doctors-table">
                       <thead>
                            <tr>
                               <th width="30%">DOCTOR</th>
                               <th width="15%">GENDER</th>
                               <th width="15%">INITIAL FEE</th>
                               <th width="20%">CITY</th>
                               <th width="10%">STATE</th>
                               <th width="10%">ZIP</th>
                            </tr>
                       </thead>
                       <tbody>
                           {% for doctor in DATA.ALL_DOCTORS %}
                           <tr>
                               <th width="30%">                                  
                                  <a href="{% url 'view_doctor' doctor.get_full_name|slugify doctor.pk %}">
                                    <button class="btn btn-dark btn-outline">
                                      {{doctor.get_full_name}}
                                    </button>
                                  </a>                                  
                                </th>
                               <th width="15%">{{doctor.get_gender_display}}</th>
                               <th width="15%">
                                  {% if doctor.consultation_fee %}
                                    ${{doctor.consultation_fee}}
                                  {% else %}
                                    <span class="text-muted"><em>Not listed</em></span>
                                  {% endif %}
                                </th>
                               <th width="20%">{{doctor.get_primary_clinic.city}}</th>
                               <th width="10%">{{doctor.get_primary_clinic.state}}</th>
                               <th width="10%">{{doctor.get_primary_clinic.zipcode}}</th>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>

                </div>
            </div>

        </div>
    </section>
{% endblock content %}

{% block js %}
  {% include "_includes/data_tables.html" with tableID='doctors-table' %}
{% endblock js %}