{% extends '_layouts/base_portal.html' %}
{% load static %}

{% block title %}Procedure-{{procedure.name}}{% endblock title %}

{% block content %}
<section>
    {% include '_includes/header_divider.html' with header=procedure.name image=True %}
    
    <form method="POST" novalidate>
    {% csrf_token %}

      <div class="container margin-vertical-30">
          <div class="row border-bottom">

              <div class="row margin-bottom-50">                
                <div class="col-md-6">

                    <!-- BASIC INFORMATION -->
                    <div class="products products-grid-wrapper">

                      <div class="box box-default">     

                        <div class="box-header">
                            <h3 class="box-title">Description</h3>
                        </div>

                         <div class="product-body">
                            <div class="product-category">
                                <span> {{procedure.desc}}</span>
                            </div>
                          </div>
                      </div>
                    </div>

                    <div class="divider horizontal"><i class="fa fa-heart"></i></div>

                    <!-- PRICE FORM  -->
                    <div class="center">
                      <div class="text-muted margin-bottom-10">
                          Have an estimate of an <b>ALL CASH</b> (no insurance) price? <br><br>
                          <button type="button" class="btn btn-danger btn-outline btn-lg" data-toggle="modal" data-target="#addModal">Please tell us!</button>                          
                          {% include '_includes/modal_form.html' with form=price_point_form title='Submit Price' button='Submit' form_name='price_point_form' %}
                      </div>
                    </div>

                  </div>  

                  <!-- CHART FOR PRICE COMPARISON -->
                  <div class="col-md-6">
                      <div class="products products-grid-wrapper">
                        <div class="box box-default">     

                          <div class="row">
                            <div class="box-header margin-bottom-30">
                                <h3 class="box-title">Cost Calculator</h3>
                            </div>
                          </div>
                        
                          <div class="row">
                            <div class="box-body">
                                Plug in your health insurance details to see whether an all-cash / no insurance deal would be better than using your insurance!
                            </div><br>
                          </div>

                          <div class="divider horizontal"><i class="fa fa-heart"></i></div>
                          
                          <div class="row">
                            <div class="box-body">
                              <div class="col-md-6">
                                 <button class="btn btn-danger btn-callout btn-xlg padding-20"> 
                                    <span class="very-small">You could pay</span><br><br>
                                    <h2 id="output_you_pay" class="text white">${{procedure.free_market_price}}</h2>
                                </button>
                              </div>
                              <div class="col-md-6">
                                <div class="product-details-wrapper">
                                  <div class="product-features">
                                    <h3>Call outs:</h3>

                                    <ul>
                                        <li>${{procedure.insurer_price}} average network/insurer price</li>
                                        <li>Insurance covers <span id="output_insurance_covers">$0</span></li> 
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- CALCULATOR FORM FIELDS -->
                          <div class="row margin-top-30">
                            <div class="col-md-4"> 
                                Deductible left ($): 
                            </div>
                            <div class="col-md-7">
                              <input type="number" name="price_point-price" required="" class="numberinput form-control" id="input_deductible_left"> 
                            </div> 
                          </div>

                          <div class="row margin-top-20">
                            <div class="col-md-4"> 
                                Your co-pay ($): 
                            </div>
                            <div class="col-md-7">
                              <input type="number" name="price_point-price" required="" class="numberinput form-control" id="input_copay"> 
                            </div> 
                          </div>

                          <div class="row margin-top-20">
                            <div class="col-md-4"> 
                                Co-insurance (%): 
                            </div>
                            <div class="col-md-7">
                              <input type="number" name="price_point-price" required="" class="numberinput form-control" id="input_coinsurance"> 
                            </div> 
                          </div>

                        </div> 
                      </div>
                  </div>        
              </div>

          </div>

          <!-- {#{% include '_includes/doctor_related.html' with procedure=procedure %}#} -->

      </div>

  </form>
</section>
{% endblock content %}

{% block js %}

  <script type="text/javascript">
    
    // Update the 'Amount you could pay' section
    $('input').on('keyup', function(){

        // Get the values from the input fields
        var input_deductible_left, input_copay, input_coinsurance;
        input_deductible_left = $('#input_deductible_left').val();
        input_copay = $('#input_copay').val();
        input_coinsurance = $('#input_coinsurance').val();

        // If the deductible hasn't been met, user covers the entire amount
        if(input_deductible_left > {{procedure.insurer_price}}){
          $('#output_you_pay').html('$'+{{procedure.insurer_price}});
          $('#output_insurance_covers').html('$0');
        }
        else{
          
          var coinsurance_amount = {{procedure.insurer_price}}-input_deductible_left;
          var you_pay = input_deductible_left + input_copay + input_coinsurance/100*(coinsurance_amount);
          var insurance_covers = (1-input_coinsurance)/100*(coinsurance_amount);

          $('#output_you_pay').html('$'+you_pay);
          $('#output_insurance_covers').html('$'+insurance_covers);
        }
        
    });
    
  </script>

{% endblock js %}